button {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 12px;
    border-width: 0px;
    margin: 50px;
}

#default {
    background-color: black;
    color: white;
}

#random_color {
    background-image: linear-gradient(to right, red, purple);
    color: white;
}

#grayscale{
    background-color: rgba(0, 0, 0, 0.4);
    color: black;
}

.button_container {
    justify-content: center;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    height: 960px;
    width: 960px;
    margin: auto;
}