button {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 12px;
    border-width: 0px;
    margin: 50px;
}

.button_container {
    justify-content: center;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    height: 960px;
    width: 960px;
    margin: auto;
}